---
layout: dark
---

{% include variables.html %}

<style>
.cover-container {
  background-image: url('/img/webinars/{{latest.background}}');
}
</style>

<div class="row align-items-center">
    <div class="col-sm text-center">
        <img class="img-fluid" src="/img/webinars/{{ latest.hero }}">
    </div>
    <div class="col-sm">
        <p class="lead">
            <strong>Episódio #{{ latest.episode }}</strong>
            {{latestSeries.title}}
        </p>
        <h1 class="cover-heading">{{ latest.title }}</h1>
        <p>
            {% include subscribe.html %}
        </p>
        <p class="text-left">
            <i class="fa fa-calendar"></i>
            {% include format_date.html date=latest.when %}
        </p>
    </div>
</div>