---
layout: light
---
<div class="row align-items-center justify-content-center">
    <div class="col-sm-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{page.recorded}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-8 py-3">
        {% include comments.html %}
    </div>
</div>

